# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment / secrets
.env
.env.*
.env.local

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# logs
*.log
